<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Amanah | Summary Page</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/coin.css">
    <link rel="stylesheet" href="/css/votes.css">
    <link rel="stylesheet" href="/css/search.css">
    <script>var cryptoList = <%- list %></script>
    <script>var coinSymbol = <%- JSON.stringify(title) %></script>
</head>

<body>
    <header>
        <a id="logo" href="/" type="submit">
            <img src="/images/logo.png" alt="logo">
        </a>
        <form onsubmit="return searchValidation('searchInput', cryptoList)"
            style="flex-grow: 1; display: flex; justify-content: right; padding-right: 1em; padding-left: 1em;">
            <div id="search" style="max-width: 25em; width: 100%; border-radius: 5px;">
                <img src="/images/SearchIcon.png" alt="searchIcon">
                <input id="searchInput" autocomplete="off" type="text" placeholder="Search"
                    onkeyup="search(this, cryptoList, '5px')">
                <div id="results"></div>
            </div>
        </form>
        <%- accountMenu %>
    </header>
    <div id="headerDivider">
        <%= title %>
    </div>
    <section>
        <div id="container">
            <div id="status_container">

                <!-- https://www.flaticon.com/free-icons/info Info icons created by Plastic Donut - Flaticon -->
                <p>
                    <a>Halal status</a>
                    <a href="/vote?coin=<%= title %>">Vote</a>
                </p>

                <p id="status">
                    <%= status %>
                </p>

                <select id="votesProposalSelect" onchange="loadVotes(this.value)">
                    <option value="">Loading proposals...</option>
                </select>
                <p id="votesDescription"></p>
                <ul id="votesList"></ul>
            </div>

            <div id="uses_container">
                <p>Permissible usage</p>
                <div id="uses">
                    insert use cases here:
                    <p>
                        <%- usecases %>
                    </p>
                </div>
            </div>

            <div id="summary" style="box-sizing: border-box; overflow: scroll; scrollbar-width: none;">
                <p style="font-size: 36px;">Summary</p>
                <p>
                    loading...
                </p>
            </div>

            <div id="value">
                <div>Currency: </div>
                <div>Conversion </div>
            </div>

        </div>
    </section>
</body>
<script src="/javascript/search.js"></script>
<script src="/javascript/votes.js"></script>
<script>
    (async () => {
        let response = await fetch('/api/ai_summary/<%= title %>');
        response = await response.text()
        let element = document.getElementById('summary').lastElementChild
        element.innerHTML = response
    })();
</script>

</html>